@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
    --primary-color: #FF5400;
    --text-white: #fff;
    --text-black: #131318;
    --text-black-p:rgba(19, 19, 24, 0.70);
}

/* Global Css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.text-black{
    color: var(--text-black);
}
.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* font-weight */

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}

.fw-800 {
    font-weight: 800;
}
.lh-1-6{
line-height: 1.6rem;
}
/* font size  */

.f-1-1 {
    font-size: 1.1rem;
}

.f-2-5 {
    font-size: 2.5rem;
}
.f-2-2 {
    font-size: 2.6rem;
}

.f-1 {
    font-size: 1rem;
}

.f-4 {
    font-size: 4rem;
}

.mb-1-5{
    margin-bottom: 1.5rem;
}
.ml-1{
    margin-left: 1rem;
}
.ml-2{
    margin-left: 2rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-4 {
    margin-top: 4rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.primary-color {
    color: var(--primary-color);
}
.text-black-p{
    color: var(--text-black-p);
}

.text-white {
    color: var(--text-white);
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-center {
    text-align: center;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}
.flex{
    display: flex;
}

.btn-primary{
    padding: 1rem 1.9rem;
    background-color: var(--primary-color);
    color: var(--text-white);
    border: none;
    border-radius: 8px;
    width: 174px;
}
/* header style  */
.mobile-nav{
    display: none;
}
nav ul li {
    margin-left: 2.5rem;
    list-style: none;
}

.banner {
    position: relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.banner-layer{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 100%;
    height: 100%;
}
.find-now-layer{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: fit-content;
    padding:1rem;
    margin: 0 auto;

}
.find-now{
    min-width: 833px;
}
.banner-content p{
    max-width: 676px;
    margin: 1.5rem auto 3rem auto;
}
.find-now-layer input, .find-now-layer select{
    padding: 15px 10px;
    border-radius: 8px;
    border: none;
    margin-right: 1.5rem;
    width: 174px;
}

/* popular tour section */
.tour-content{
    max-width: 577px;
}